*{
  margin:0;
  padding:0;
}
.buttonapp{
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  padding-left: 10rem;
  padding-right: 8.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  background-color:black;
  cursor: pointer;
  margin-bottom: 0.1rem;
}
.buttongmail{
  color: rgb(255, 255, 255);
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  padding-left: 8rem;
  padding-right: 6rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  background-color:black;
  cursor: pointer;
  margin-bottom: 0.1rem;
}
.bannerbuttons{
padding-top: 20px;
padding-left: 17%;
margin-left: 6px;
  
}
.bannerbuttonss{
  padding-top: 20px;
  padding-left: 17%;
  margin-left: 9px;
  
  padding-right: auto;
    
  }
.buttonapp:hover{
  color: rgb(252, 248, 248);
  background-color: #175b7d;
}
.buttongmail:hover{
  color: rgb(252, 248, 248);
  background-color: #175b7d;
}
.Inputs{
  background-color: beige;
  padding-left: 0.1rem;
  padding-right: 10rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-top: 10px;
}
.Inputs-Signup{
  padding-left: 100px;
  padding-top: 10px;
}
.Inputs-Login{
  padding-left: 95px;
}
.About{
  padding-left: 5%;
  padding-right: 5%;
  font-size: 13pt;
  color: #000000;
}
.container{
  margin-left: 450px ;
  margin: auto;
  height: auto;
  width: 530px;
  background: rgba(243, 248, 248, 0.5);
  padding-bottom: 50px;
  border-style:solid;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 40px 50px;
}
.container-home{
  margin-left: 450px ;
  margin: auto;
  height: auto;
  width: auto;
  background: rgba(243, 248, 248, 0.8);
  padding-bottom: 50px;
  border-style:solid;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 40px 50px;
}
.header{
  padding-left: 188px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  color: #980c5c;
  text-shadow: 3px 3px #fbf8f8;
  font-size: 50px;
  font-weight: 700;
}
.forgot-password{
  padding-left: 62px;
  margin-top: 27px;
  color: #797979;
  font-size: 18px;
}
.forgot-password span{
  color: #4c00b4;
  cursor: pointer;
}

.inputloggedin{
  color: rgb(0, 0, 0);
  font-style: initial;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 7%;
  margin-right: 10%;
  font-size: 18px;
  margin-top: -4%;
}

.headerloggedin{
  margin-left: 3%;
  font-size: 50px;
  margin-bottom: 10%;
  margin-top: -7%;
  
  color: #090505;

}
